# Errores

In [2]:
try:
    number = 1
    string = "Hola"
    result = number + string
except:
    print("Hay un error")
    # pass

Hay un error

In [5]:
number = 1
string = "Hola"
result = number + string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
try:
    number = 1
    string = "Hola"
    result = string + string
    var = string[10]
except TypeError as var2:
    print(var2)
    print("Hay un error de type error")
except IndexError as var2:
    print(var2)
    print("hay un error de index")
except:
    print("hay un error generico")

string index out of range
hay un error de index

In [9]:
number = 1
string = "Hola"
result = string + string
var = string[10]

IndexError: string index out of range

In [16]:
try:
    number = 1
    string = "Hola"
    result = number + string
except Exception as error:
    print(error)

unsupported operand type(s) for +: 'int' and 'str'

In [21]:
try:
    10 / 0
except:
    raise ValueError("División por 0 no se puede")

ValueError: División por 0 no se puede

# Control Condiciones

In [22]:
comp = 1 > 0
comp2 = 0 > 0

if (comp):
    print("cuando comp es TRUE")

if (comp):
    print("cuando comp es TRUE")
else:
    print("cuando comp es FALSE")

if (comp):
    print("cuando comp es TRUE")
elif (comp and comp2):
    print("otra condición pero negando la de arriba")
else: # Opcional
    print("Ninguna es TRUE")

if (comp):
    print("cuando comp es TRUE")
    if (comp2):
        print("cuando comp y comp2 son True")
else:
    print("cuando comp es FALSE")
    
if (comp and comp2):
    print("cuando comp y comp2 es TRUE")

cuando comp es TRUE
cuando comp es TRUE
cuando comp es TRUE
cuando comp es TRUE

In [2]:
if (True):
    raise ValueError("Error de Valor")

ValueError: Error de Valor

# Funciones

In [29]:
def nombre_funcion(a, b, c):
    return a+b, a+c, b+c, "hola"

In [30]:
var = nombre_funcion(1, 2, 3)
print(var)

(3, 4, 5, 'hola')

In [31]:
print(var[0])
print(var[1])
print(var[2])
nombre_funcion(var[0], var[1], var[2])

3
4
5

(7, 8, 9, 'hola')

In [35]:
var[-1], var[-2], var[-3], var[-4]

('hola', 5, 4, 3)

In [40]:
tupla_variable = ("hola", 2, 3, 1.5, 0xb)
tupla_variable

('hola', 2, 3, 1.5, 11)

In [41]:
tupla_variable[0] = "chao"

TypeError: 'tuple' object does not support item assignment

In [43]:
tupla_variable[1:4]

(2, 3, 1.5)